* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header {
    height: 100vh;
    width: 80%;
    background-image: url(./imgs/banner_.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header::before {
    content: "";
    position: absolute;
    width: 44.6%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.358);
    z-index: 1;
}

.title_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15em;
}

.credits {
    position: fixed;
    bottom: 2em;
    z-index: 2;
    color: hsl(0, 0%, 100%);
}

.credits a {
    text-decoration: underline;
    color: hsl(0, 0%, 100%);
}

img {
    max-width: 150px;
    z-index: 2;
}

h1 {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 1em;
    color: hsl(0, 0%, 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.699);

    font-size: 4rem;
    font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
    letter-spacing: 6px;
    text-transform: uppercase;
    z-index: 2;
}

main {
    width: 100%;
    height: 100vh;
    font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
    display: flex;
    flex-direction: column;
}

.hero, .sign-up {
    padding: 3em;
}

.hero__container {
    padding-top: 3em;
}

.hero__container p{
    font-size: 1.65rem;
    font-weight: 700;
    margin: 1em 0;
}

.hero__container span {
    font-style: italic;
}

.sign-up {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: hsla(0, 0%, 100%, 0.832);
}

.form__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}


.col {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.sign-up__form .sub {
    font-size: 1.75rem;
    font-weight: 600;
}

.form__row {
    margin: 1.5em 0;
}

label {
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.709);
}

input {
    all: unset;

    line-height: 2;
    padding-left: 0.75em;
    font-size: 1.15rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.404);
}

input:focus {
    border: 2px solid rgb(74, 174, 250);
}

input[type="password"]:invalid {
    border: 1px solid red;
}

button {
    background-color: rgb(62, 89, 98);
    border: none;
    height: 50px;
    width: 200px;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.991);
    opacity: 0.9;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

button:hover {
    opacity: 1;
}

.login {
    font-size: 1.2rem;
    padding-left: 2em;
    margin-top: 1em;
}